@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.category-btn {
  border: 1px solid rgba(255,255,255,0.4);
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 14px;
  transition: 0.3s ease;
  background: transparent;
}

.category-btn:hover {
  border-color: #f97316;
  color: #f97316;
}
li {
  transition: 0.3s ease;
}
.category-btn.active {
  border-color: #f97316;
  color: #f97316;
}
.food-card {
  background: #1e293b;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
}
.food-card:hover {
  transform: translateY(-8px);
}

.food-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.fav-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: #0f172a;
  padding: 7px 9px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.fav-btn:hover {
  color: #f97316;
}

.rating {
  color: #f97316;
  font-size: 14px;
  margin-bottom: 6px;
}

.food-title {
  color: #f97316;
  font-weight: 600;
  font-size: 18px;
}

.food-desc {
  color: #94a3b8;
  font-size: 13px;
  margin-bottom: 10px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #f97316;
  font-weight: 600;
}

.cart-btn {
  border: 1px solid #f97316;
  padding: 6px 9px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.cart-btn:hover {
  background: #f97316;
  color: white;
}
/* Glass Navbar */
.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Chef Card */
.chef-card {
  background: #0f2a31;
  padding: 20px;
  border-radius: 20px;
  transition: 0.4s ease;
  text-align: center;
}

.chef-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.chef-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.4s;
}

.chef-card:hover .chef-img {
  transform: scale(1.08);
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.social-icons i {
  background: #1b3a42;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  background: #f97316;
}

/* Fade Up Animation */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
